#navbar-principal {
    background-color: #FFFDFD;
}
#login-button {
    background-color: #FF7061;
    color: white;
    font-weight: bold;
    border-radius: 75px;
    margin-right: -40px;
    position: relative;
    z-index: 2;
}
#signup-button {
    background-color: #FFD5D0;
    color: black;
    font-weight: bold;
    border-radius: 75px;
    padding-left: 45px;
    position: relative;
    z-index: 1;
}
#boton-dropdown-locales {
    background-color: #FFFDFD;
    font-weight: bold;
    color: black;
    margin: 0 20px;
}
#boton-dropdown-locales:hover {
    background-color: #FFD5D0;
}
#boton-dropdown-locales:focus {
    border-color: #FFD5D0;
    background-color: #FFD5D0;
}
#menu-dropdown-locales {
    border-color: white;
    background-color: #FFFDFD;
}
.dropdown-item:hover {
    background-color: #FFD5D0;
    width: 200px;
    height: 50px;
    margin: 50px 0px;
    box-shadow: none;
}
#aviso-iniciasesion {
    background-color: #FF7061;
    color: white;
    font-weight: bold;
    padding: 5px 0px;
}
.btn:focus {
    box-sizing: none;
}
.form-control {
    width: 400px;
    height: 30px;
}
#img-sushi-bienvenida {
    width: 100%;
    height: 400px;
}
