#navbar-principal {
    background-color: #FFF6F5;
}

#boton-is {
    background-color: #F4A097;
    color: white;
    font-weight: bold;
    border-radius: 75px;
    margin-right: -40px;
    position: relative;
    z-index: 2;
}
#boton-reg {
    background-color: #FFE2DF;
    color: black;
    font-weight: bold;
    border-radius: 75px;
    padding-left: 45px;
    position: relative;
    z-index: 1;
}
#boton-dropdown-locales {
    background-color: #FFF6F5;
    color: black;
    font-weight: bold;
    border-color: #FFF6F5;
}
#boton-dropdown-locales:hover {
    background-color: #FFE2DF;
}
#menu-dropdown-locales {
    border-color: white;
}
.dropdown-item:hover {
    background-color: #FFF6F5;
}
.btn:focus {
    box-shadow: none;
}
.form-control {
    width: 400px;
    height: 30px;
}