/*https://paletton.com/#uid=3060u0kkeZ16E+CaE+esvVdvkSj*/

#navbar-principal {
    background-color: white;
}

/* Se define el button de html sin ningún atributo para
    tener más control sobre él. */

button {
    background: none;       
    border: none;             
    padding: 0;               
    color: inherit;           
    font: inherit;            
    cursor: pointer;          
    outline: none;            
}

/* Botones de inicio de sesión y crear cuenta. */

#login-button {
    background-color: #FF745E;
    color: white;
    font-weight: bold;
    height: 45px;
    width: 130px;
    border-radius: 15px;
    margin-right: -40px;
    position: relative;
    z-index: 2;
}

#login-button:hover {
    background-color: #E16653;
}

#signup-button {
    background-color: #FFD1CA;
    color: black;
    font-weight: bold;
    height: 45px;
    width: 150px;
    border-radius: 15px;
    padding-left: 35px;
    position: relative;
    z-index: 1;
}

#signup-button:hover {
    color: white;
    background-color: #E16653;
}

#userMenu {
    font-weight: bold;
    background-color: #FF745E;
    border: none;
}

#loginMenu {
    font-weight: bold;
    background-color: #FF745E;
    border: none;
}

#userMenu:hover {
    font-weight: bold;
    background-color: #FF8B78;
    border: none;
}

.form-control {
    width: 400px;
    height: 30px;
}

/* Botón modal horarios. */

.botones-navbar {
    font-weight: bold;
    margin: 0 10px;
}

.botones-navbar:hover {
    text-decoration: underline;
}

/* Botón de DropDown de Locales. (quizás se quite) */

#button-dropdown-locales {
    background-color: white;
    font-weight: bold;
    color: black;
    border-radius: 7px;
    height: 37px;
    width: 100px;
    margin: 0 20px;
}

#button-dropdown-locales:hover {
    text-decoration: underline;
}

.dropdown-menu {
    border-color: white;
    background-color: white;
}

.dropdown-item:hover {
    background-color: #FFF9F8;
    width: 100%;
}

/*--------------------------*/

#aviso-carrusel {
    background-color: #FF745E;
    color: white;
    font-weight: bold;
    padding: 5px 0px;
}

#img-sushi-bienvenida {
    width: 100%;
    height: 400px;
}

#pideya-button {
    color: #FF745E;
    width: 200px;
    height: 75px;
    font-size: 30px;
    font-weight: 900;
    border-radius: 20px;
}

#pideya-button:hover {
    font-size: 32px;
}

#pideya-button:active {
    font-size: 30px;
}

/* Cards de producto. */

#producto-card {
    width: 285px; 
    height: 150px;
}

/* Select categorias. */

#categoria-scroll {
    overflow-x: scroll;
    position: sticky;
    top: 0;
    z-index: 1000;
}

#categoria-scroll2 {
    border: none;
    width: 100%;
    height: 60%;
    overflow-y: scroll;
}

.categoria-button {
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 0 10px;
}

.categoria-button:focus{
    font-weight: bold;
    color: #FF745E;
}

@media (max-width: 768px) {
    #scroll-productos {
        height: auto;
        background-color: white;
    }

    #div-scroll-productos {
        height: auto;
    }
}

@media (min-width: 768px) {
    #scroll-productos {
        height: 100%; 
        overflow-y: auto;
        background-color: white;
    }

    #div-scroll-productos {
        height: 100%;
    }

    #row-productos {
        height: 95vh;
    }
}

/* Botón carrito. */

#fixed-carrito-button {
    background-color: #FF745E;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

#fixed-carrito-button span {
    position: absolute;
    color: #FF745E;
    background-color: white;
    font-weight: bold;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-left: -10px;
    margin-top: -7px;
}

#carrito-button {
    background-color: #FF745E;
    width: 99%;
    height: 60px;
    border-radius: 10px;
}

#carrito-button:hover {
    background-color: #FF8B78;
    width: 100%;
    height: 61px;
    border-radius: 10px;
}

#carrito-button span {
    position: absolute;
    color: white;
    font-weight: bold;
    width: 24px;
    height: 24px;
    margin-left: -10px;
    margin-top: 23px;
}

/* Card de los productos. */

.producto-button {
    text-decoration: none;
    color: black;
    height: 100%;
}

.agregar-button-card {
    background-color: #FF745E;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: -43%;
}

.agregar-button-card:hover {
    background-color: #FF8B78;
    width: 52px;
    height: 52px;
}

.productos-container {
    margin-right: 3rem;
}

/* Modal productos */

.quantity-button {
    background-color: #FF745E;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.quantity-button:hover {
    background-color: #FF8B78;
    width: 32px;
    height: 32px;
}

.quantity-button:active {
    width: 30px;
    height: 30px;
}

#agregar-button-modal {
    font-weight: bold;
    font-size: 18px;
    color: white;
    background-color: #FF745E;
    width: 98%;
    height: 98%;
    border-radius: 5px;
}

#agregar-button-modal:hover {
    background-color: #FF8B78;
    width: 99%;
    height: 100%;
}

#agregar-button-modal:active {
    background-color: #FF8B78;
    width: 98%;
    height: 98%;
}

/* Footer */

#footer-container {
    background-color: #FF745E;
    color: white;
}

